# Node.js dependencies
/frontend/node_modules
/frontend/.npm
/frontend/hotel-iot/.angular/cache

# Python dependencies
/venv
**/.venv
**/venv
/backend/*.pyc
**/__pycache__/



# Environment variables
*.env

# Database files
/backend/*.db

# Python-specific files
/backend/.pytest_cache/
/backend/.mypy_cache/
/backend/.coverage
/backend/coverage/
*.cover
*.coverage.*
*.log

# FastAPI
/backend/logs
/backend/debug.log

# VS Code
.vscode/
.history/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Other common files
*.swp
*.swo
*.swn

# IDE-specific files
.idea/
.project
.classpath
c9workspace
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.backup

# Compiled files
*.out
*.o
*.d

# Coverage reports
htmlcov/
.tox/

# Build artifacts
build/
dist/
*.egg-info

frontend/.angular/cache/17.3.8/hotel-iot/.tsbuildinfo
frontend/.angular/cache/17.3.8/hotel-iot/.tsbuildinfo
