<main>
    <h1 mat-dialog-title>Reserve a service</h1>

    <div mat-dialog-content class="content-container">
        <mat-form-field>
            <mat-label>Service</mat-label>
            <mat-select [(ngModel)]="reservation_type">
                <mat-option *ngFor="let tipo of reservation_types" [value]="tipo">{{ tipo | titlecase}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="datetime" (change)="onDateChange($event)">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSave()">Save</button>
      </div>
</main>