<div class="client-container">
  <div class="client-circle" (click)="toggleMenu()">
    {{ client.name }}
  </div>
  <div *ngIf="menuVisible" class="menu">
    <label for="room">Room Number:</label>
    <input type="number" id="room" [(ngModel)]="selectedRoom">

    <label for="room">RFID Code:</label>
    <input type="number" id="rfid" [(ngModel)]="selectedRFID">
    
    <div *ngIf="clientOptions.includes('Adjust Environment')">
      <label for="temperature">Temperature:</label>
      <input type="number" id="temperature" [(ngModel)]="temperature">
      
      <label for="lightningIntensity">Light Intensity:</label>
      <input type="number" id="lightningIntensity" [(ngModel)]="lightningIntensity">
    </div>
    
    <app-menu [options]="clientOptions" (optionSelected)="handleOptionSelected($event)"></app-menu>
  </div>
</div>
